@import url(https://fonts.googleapis.com/css?family=VT323);


* {
  font-family: 'VT323';
  margin: 0px;
  padding: 0px;
}

body {
  margin: 0px;
  padding: 0px;
  color: black;

}

.header {
  width: 100%;
  height: 40px;
  color:white;
  background-color: black;
  position: fixed;
  z-index: 4;
}

.header a {
  font-size: 24px;
}

 a {
  color: white;
 
}

ul {
  display: flex;
  flex-direction: row;
  list-style: none;
  margin-bottom: 0px;
  margin-top: 10px;
  justify-content: space-evenly; 
}

 #fighthub {
  font-size: 30px;
  position: absolute;
  float: left;
  left: 0px;
  margin-left: 5px;
  
}


.roster-intro {
  padding-top: 1em;
  text-align: center;
  background-color: lightGrey;
  color: black;



}

.roster-title {
  font-size: 30px;
  padding-top: 5rem;
  margin-bottom: 0em;
  text-align: center;
  background-color: lightGrey;
  color: black;
 
}

.roster-description {
  font-size: 18px;
  padding-bottom: 5em;
  padding-left: 2em;
  padding-right: 2em;
  margin: 0px;
  font-family: 'VT323';
  background-color: lightGrey;
  color: black;


}

.weight-title {
  text-align: center;
  float: center;
  margin: 5px;
  padding-top: 0.5em;
  font-size: 20px;
    
}

.weight-classes {
  display: flex-grid;
  z-index: 0;
  position: relative;
  text-align: center;
  padding-bottom: 5%;
  margin: 5px;  
  
}

.weight-class {
  display: inline-block;
  width: 300px;
  height: 400px;
  justify-content: evenly-spaced;
  position: relative;
  padding: 0;
  margin: 5px;
  font-size: 16px
}


.champion {
  list-style: none;
  font-style: italic;
  font-size: 18px;
}

footer {
  width: 100%;
  position: static;
}



.social {
  text-align: center;
  padding-top: 2rem;
  padding-bottom: 4rem;
  margin-left: 0px;
  margin-right: 0px;
  width: 100%;
  height: 400px;
  background-color: black;
  color: white;
}

.social p {
  padding: 10px;
  text-align: center;
  font-size: 18px;
}

.form p {
  font-size: 12px;
}

.email-list {
  display: grid;
}


.btn {
  display: flex-grid;
  align-items: center;
  margin-left: 2em;
  margin-bottom: 7px;
  padding: 5px;
  
  
}

.form-control {
  width: 25%;
  align-items: center;
  
}

.center {
  text-align: center;
}

.video { 
  padding: 1em;
  margin: 0.75em;
  position: static;
  width: 500px;
  height: 400px;
}

.bottom-bar {
  width: 100%;
  bottom: 0;
  background-color: #141414;
  position: fixed;
  overflow: hidden;
  height: 5%;
}

#event-title {
  color: white;
  position: absolute;
  float: left;
  text-align: center;
  bottom: 0px; 
  font-size: 16px;
  margin-right: 0;
  left: 10px;
  margin-bottom: 10px;
  
  
}

.event {
  color: white;
  bottom:0px;
  width: 20%;
  font-size:16px;
  margin-top: 5px;
  margin-bottom: 5px;
  position: absolute;
  float: right;

}